

.product__photo {
  flex: 1;
  background: linear-gradient(135deg, #d4e157 0%, #c0ca33 100%);
  padding: 40px;
  display: flex;
	width:350px;
	height:400px;
	margin-left:140px;
	
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.product__photo .photo-container .photo-main {
  position: relative;
  margin-bottom: 20px;

  .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;

    i {
      width: 35px;
      height: 35px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.product__photo .photo-container .photo-album {
	/* background-color:white; */
  ul {
	
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
	  background-color:white;
	

    li {
      width:50px;
      height: 50px;
   

      padding: 8px;
      cursor: pointer;
      transition: all 0.3s;
      border: 3px solid transparent;

      &:hover {
         border-color: white;
        transform: scale(1.1); 
      } 
		img {
        width: 100%;
        height: 100%;
        object-fit: contain;
			   border: 2px solid black;
      }
    }
  }
}
.product__info {
	background-color:white;
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__info .title {
  margin-bottom: 20px;
background-color:white;

  h1 {
    font-size: 2em;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
  }

  span {
    color: #ccc;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.product__info .price {
  margin: 20px 0 30px 0;
  color: #ff5252;
  font-size: 3em;
  font-weight: 700;

  span {
    font-size: 1em;
  }
}
.product__info .variant {
  margin-bottom: 30px;

  h3 {
    font-size: 0.75em;
    color: #999;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 600;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 15px;

    li {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s;
      border: 3px solid transparent;
      padding: 3px;

      &:hover {
        border-color: #d4e157;
        transform: scale(1.15);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
section{
	display:flex;
	margin :70px;
	
}
body{
	background-color:lightgreen;
}
h3{
	color:grey;
}

